body { margin: 0; padding: 0; background-color: #333; color: #faebd7; font-family: Arial, Helvetica, sans-serif; font-size: 16px; }

header, footer { margin: 0; padding: 2rem 0; background-color: #faebd7; color: #333; text-align: center; }

footer { margin-top: 2rem; }

h1 { margin: 0; padding: 0; }

iframe { width: 100%; }

a { padding: 0 0.5rem; color: #00bfff; font-weight: bold; }

a:hover, a:focus { text-decoration: none; background-color: #00bfff; color: #faebd7; border-radius: 1rem; }

main { margin: 0 auto; max-width: 70ch;
    @media(min-width: 480px) { width: 90vw; font-size: 1.2rem; }
    @media(min-width: 720px) { width: 80vw; font-size: 1.5rem; }
}

form { display: flex; flex-direction: column; gap: 2rem; }