body { display: block; margin: 0; padding: 0; background-color: #333; color: #faebd7; font-family: Arial, Helvetica, sans-serif; font-size: 16px; }

ul { list-style-type: none; padding: 0; }

a { display: block; padding: 0.5rem 0; color: #faebd7 }

a:hover, a:focus { text-decoration: none; color: #00bfff; text-shadow: 0 0 3rem #333; transition: 0.2s; }

input, textarea { padding: 0.5rem; background-color: #faebd7; color: #333; border: none; border-radius: 1rem; }
    input::file-selector-button { border: none; border-radius: 0.5rem; background-color: #333; color: #faebd7; }

button { padding: 1rem; border: 0.2rem solid #faebd7; border-radius: 2rem; background-color: #333; color: #faebd7; }

button:hover, button:focus { background-color: #faebd7; color: #333; transition: 0.2s; cursor: pointer; }

header { display: flex; flex-direction: column; align-items: center; background-color: #faebd7; padding: 0.5rem;
    @media (min-width: 1080px) { display: flex; flex-direction: row; align-items: center; justify-content: space-between; padding: 0.5rem 8rem; }
}
    header a, footer a { color: #333; }
    header a { display: flex; align-items: center; gap: 0.5rem; }
    header svg { width: 2rem; height: 2rem; }
    header span { font-weight: bold; font-size: 1.8rem; }
    nav { margin: 0; padding: 0; }
        nav ul { display: flex; flex-direction: row; gap: 0.5rem; margin: 0; padding: 0;  }
        nav li { padding: 1rem 0; }

main { margin: 1rem 0; max-width: 70ch; min-height: 100vh; padding: 0.5rem;
    @media(min-width: 480px) { padding: 0.5rem 4rem; }
    @media(min-width: 720px) { padding: 0.5rem 8rem; }
}
    h1 { margin: 0; padding: 0; }
    iframe { width: 100%; }
    form { display: flex; flex-direction: column; gap: 1rem; margin-bottom: 1rem; }

footer { padding: 0.5rem; background-color: #faebd7; color: #333; text-align: center; }
